In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy import array
from sklearn.preprocessing import Normalizer

In [3]:
data={'Duration (In Minutes)':[200, 300, 90, 120, 1000, 800, 85, 300, 400], 
        'Mood':['Dark', 'Semi-Dark', 'Bright', 'Semi-Dark', 'Bright', 'Bright', 'Bright', 'Bright', 'Dark'], 
        'Age Restriction':['Adult', 'Adult', 'Family', 'Adult', 'Family', 'Adult', 'Adult', 'Children', 'Adult'], 
        'Movie Rating':[9.8, 7.1, 8.5, 9.0, 6.3, 4.8, 7.6, 2.8, 9.0]}

In [4]:
dataset=pd.DataFrame(data, index=['Money Heist', 'Prison Break', 'Overcomer', 'Mosul', 'Selina', '24', 'Extraction', 'Boss Baby', 'Caliphate'])

In [5]:
dataset

              Duration (In Minutes)       Mood Age Restriction  Movie Rating
Money Heist                     200       Dark           Adult           9.8
Prison Break                    300  Semi-Dark           Adult           7.1
Overcomer                        90     Bright          Family           8.5
Mosul                           120  Semi-Dark           Adult           9.0
Selina                         1000     Bright          Family           6.3
24                              800     Bright           Adult           4.8
Extraction                       85     Bright           Adult           7.6
Boss Baby                       300     Bright        Children           2.8
Caliphate                       400       Dark           Adult           9.0

In [6]:
print(dataset['Mood'].unique())

['Dark' 'Semi-Dark' 'Bright']

In [7]:
dataset['Mood'].value_counts()

Bright       5
Dark         2
Semi-Dark    2
Name: Mood, dtype: int64

In [8]:
one_hot_encoded_data = pd.get_dummies(dataset, columns=['Mood'])

In [9]:
print(one_hot_encoded_data)

              Duration (In Minutes) Age Restriction  ...  Mood_Dark  Mood_Semi-Dark
Money Heist                     200           Adult  ...          1               0
Prison Break                    300           Adult  ...          0               1
Overcomer                        90          Family  ...          0               0
Mosul                           120           Adult  ...          0               1
Selina                         1000          Family  ...          0               0
24                              800           Adult  ...          0               0
Extraction                       85           Adult  ...          0               0
Boss Baby                       300        Children  ...          0               0
Caliphate                       400           Adult  ...          1               0

[9 rows x 6 columns]